body {
    background-color: #fff6eb;
    color: #0A0010;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-bottom: 3vh;
}

.header {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.in_header {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 1px #0A0010;
    padding: 3vh 2vw 3vh 2vw;
    gap: 2vh;
}
h1 {
    font-size: 5vw;
    margin: 0;
    padding-bottom: 4vh;
    font-style: italic;
}
h2 {
    font-weight: 300;
    font-size: 1vw;
    font-style: italic;
    padding-top: 2vh;
}
p {
    font-weight: 400;
    font-size: 1.25vw;
    margin: 0;
}
a {
    color: rgb(0, 0, 255);
}
.bold {
    font-size: 1.5vw;
    font-weight: 900;

}

.postit{
    width: 200px;
    height: 200px;
    background-color:#FFDB25;
    box-shadow: 0px 30px 22px -8px rgba(10, 0, 16, 0.2);
}

.linePostit{
    display: flex;
    flex-direction: row;
    gap: 44px;
    padding: 0 60px;
}

.postitImage{
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

#resultsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    margin-top: 6vh;
    margin-bottom: 10vh;
}


